<!DOCTYPE html>
<html lang="fr">

<head>
  <%- include('../partials/head') %>

  <!-- Style -->
  <link rel="stylesheet" href="/css/article.css">
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <section id="article">

      <h1 style="background-image: url('/images/coffees/<%= product.reference %>.png')">
        <%= product.name %>
      </h1>

      <p><%= product.description %>.</p>

      <table>
        <tbody>
          <tr>
            <th>Origine</th>
            <td><%= product.origin_country%></td>
          </tr>
          <tr>
            <th>Caractéristique principale</th>
            <td><%= product.category_name %></td>
          </tr>
          <tr>
            <th>Prix au kg</th>
            <td><%= product.price_per_kg%> €</td>
          </tr>
          <tr>
            <th>Disponible actuellement</th>
            <td aria-label="Disponibilité"><%= product.available ? '✅ Disponible' : '❌ Non disponible' %></td>
          </tr>
          <tr>
            <th>Référence SKU du produit</th>
            <td><%= product.reference %></td>
          </tr>
        </tbody>
      </table>

      <a href="/catalog" class="button">Retour au catalogue</a>

    </section>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
